.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*images on site*/
.App-image {
  max-height:50%;
  max-width:50%;
  border-radius:5px;
}

#help {
  position: absolute;
  top: 50px;
  background: #fff;
  right: 0;
  height: 28px;
  padding: 3px;
  padding-right: 5px;
  border-radius: 5px;
}

body {
  background-color: #333!important;
}

/*main container*/
.jumbotron {
  background-color: #f5e0ad!important;
}

/*column container of every element*/
.col-md-6 {
  width: 100%!important
}

/*summon results divs*/
.container .container .col-md-6 {
  width: 50%!important
}

/*top bar*/
.navbar-inverse {
  background-color: #25180f!important;
  background-image: none!important;
}

/*site name*/
.navbar-inverse .navbar-brand {
  color: #dcdcdc;
}

/*header text*/
.navbar-right {
  color: #9d9d9d;
  margin-top: 15px!important;
}

.navbar-right a {
  color: #a7d68b;
}

.navbar-right a:hover {
  color: #a7d68b;
}

.thumb {
	max-height:50%;
	max-width:50%;
	display:block;
}

.featured:after {
  border: 2px solid #ff006d;
  content: '';
  height: 35px;
  display: block;
  width: 39px;
  border-radius: 5px;
  box-shadow: 0 0 4px #ff0254;
  box-sizing: content-box;
  padding: 5px;
  position: absolute;
  left: -12px;
  top: -3px;
}

.lr {
  border: 2px solid #FF029E;
  border-radius: 7px;
  -webkit-box-shadow:0 0 8px #FF029E;
  -moz-box-shadow: 0 0 8px #FF029E;
  box-shadow:0 0 8px #FF029E;
}

.featuredlr {
  border: 2px solid #B700FF;
  border-radius: 7px;
  -webkit-box-shadow:0 0 8px #B700FF;
  -moz-box-shadow: 0 0 8px #B700FF;
  box-shadow:0 0 8px #B700FF;
}

.rarity {
  max-height:50%;
  max-width:50%;
  margin-left:-60px;
}

.counter {
  position: absolute;
  top: 40px;
  right: 10px;
}

.show-grid {
  margin-top: 10px;
}

.top-margin {
  margin-top: 20px;
}

.highlight {
  background-color: lightgreen;
}

td {
  padding-left: 30px !important;
  position: relative;
}

.unitType {
  z-index: 3;
  position: absolute;
  top: 13px;
  left: 24px;
}

.raritybg {
  position: absolute;
  top: 16px;
  left: 27px;
}
