.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*images on site*/
.App-image {
  max-height:50%;
  max-width:50%;
  border-radius:5px;
}

.container .show-grid:first-of-type .App-image {
  max-width:100%;
}

#help {
  position: absolute;
  top: 80px;
  background: #fff;
  right: 0;
  height: 28px;
  padding: 3px;
  padding-right: 5px;
  border-radius: 5px;
}

body {
  background-color: #333!important;
}

/*main container*/
.jumbotron {
  background-color: #f5e0ad!important;
  margin-top: 80px;
}

/*summon results divs*/
.container .container .col-md-6 {
  width: 50%!important
}

@media only screen and (max-width: 991px) {
  .container .container .row .col-md-6 {
    width: 100%!important
  }
}

/*top bar*/
.navbar-inverse {
  background-color: #25180f!important;
  background-image: none!important;
}

/*site name*/
.navbar-inverse .navbar-brand {
  color: #dcdcdc;
  font-size: 15px;
}

/*header text*/
.navbar-right {
  color: #9d9d9d;
  margin-top: 15px!important;
}

.navbar-right a {
  color: #a7d68b;
}

.navbar-right a:hover {
  color: #a7d68b;
}

.thumb {
	max-height:50%;
	max-width:50%;
	display:block;
}

.featured:after {
  border: 2px solid #bd00ff;
  content: '';
  display: block;
  height: 45px;
  width: 42px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 4px #ff0254;
  position: absolute;
  box-sizing: content-box;
  left: -2px;
  top: -2px;
}

.rated:after {
  border: 2px solid #ff0000;
  content: '';
  display: block;
  height: 45px;
  width: 42px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 4px #ff0000;
  position: absolute;
  box-sizing: content-box;
  left: -2px;
  top: -2px;
}

.lr {
  border: 2px solid #FF029E;
  border-radius: 7px;
  -webkit-box-shadow:0 0 8px #FF029E;
  -moz-box-shadow: 0 0 8px #FF029E;
  box-shadow:0 0 8px #FF029E;
}

.featuredlr {
  border: 2px solid #B700FF;
  border-radius: 7px;
  -webkit-box-shadow:0 0 8px #B700FF;
  -moz-box-shadow: 0 0 8px #B700FF;
  box-shadow:0 0 8px #B700FF;
}

.raritybg {
  max-width: 100%;
}

.rarity {
  max-width: 70%;
  max-height: 14px;
  position: absolute;
  bottom: -4px;
  left: -7px;
}

.unitType {
  max-width: 50%;
  position: absolute;
  top: -4px;
  left: -4px;
}

.td {
  padding-left: 0!important;
}

.fivestar {background: url('../images/5bg.png');}
.fourstar {background: url('../images/4bg.png');}
.threestar {background: url('../images/3bg.png');}

.fivestar,
.fourstar,
.threestar {
  background-position-y: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.counter {
  display: block;
  margin-top: 5px;
}

.show-grid {
  margin-top: 10px;
}

.top-margin {
  margin-top: 80px;
}

.highlight {
  background-color: lightgreen;
}

/*summon results container*/
.container .container .show-grid:nth-of-type(2) .col-md-6:first-of-type td {
  padding-bottom: 15px!important;
}

td {
  padding-top: 10px!important;
}

/*main container for each unit*/
.unitContainer {
  position: relative;
}

/*reset buttons*/
.col-xs-12 {
  width: auto!important;
}

/*column container of every element - MUST BE UNDER COL-XS-12*/
.col-md-6 {
  width: 100%!important
}
