.flair {
	display: inline-block;
	height:40px;
	width:35px;
	cursor:pointer;
	margin-right:9px;
	margin-top:9px;
	background:url(flairs.png) no-repeat -9999px;
}

.md [href$="-3rdA"], .flair-3rdA{background-position:0 0;min-width:27px;}
.md [href$="-3rdA1"], .flair-3rdA1{background-position:0 -40px;}
.md [href$="-A"], .flair-A{background-position:0 -80px;}
.md [href$="-A1"], .flair-A1{background-position:0 -120px;}
.md [href$="-A2"], .flair-A2{background-position:0 -160px;min-width:34px;}
.md [href$="-A3"], .flair-A3{background-position:0 -200px;}
.md [href$="-ameyuri"], .flair-ameyuri{background-position:0 -240px;}
.md [href$="-ameyuri1"], .flair-ameyuri1{background-position:0 -280px;}
.md [href$="-anko"], .flair-anko{background-position:0 -320px;min-width:32px;}
.md [href$="-asuma"], .flair-asuma{background-position:0 -360px;}
.md [href$="-asuma1"], .flair-asuma1{background-position:0 -400px;}
.md [href$="-asuma2"], .flair-asuma2{background-position:0 -440px;min-width:34px;}
.md [href$="-baki"], .flair-baki{background-position:0 -480px;}
.md [href$="-bandit"], .flair-bandit{background-position:0 -520px;}
.md [href$="-bandit-lackey"], .flair-bandit-lackey{background-position:0 -560px;}
.md [href$="-bandit-leader"], .flair-bandit-leader{background-position:0 -600px;min-width:34px;}
.md [href$="-bee"], .flair-bee{background-position:0 -640px;}
.md [href$="-bee1"], .flair-bee1{background-position:0 -680px;}
.md [href$="-bee2"], .flair-bee2{background-position:0 -720px;}
.md [href$="-bee3"], .flair-bee3{background-position:0 -760px;}
.md [href$="-chiriku"], .flair-chiriku{background-position:0 -800px;min-width:36px;}
.md [href$="-chiriku1"], .flair-chiriku1{background-position:0 -840px;min-width:36px;}
.md [href$="-chiyo"], .flair-chiyo{background-position:0 -880px;min-width:37px;}
.md [href$="-chiyo1"], .flair-chiyo1{background-position:0 -920px;}
.md [href$="-choji"], .flair-choji{background-position:0 -960px;}
.md [href$="-choji1"], .flair-choji1{background-position:0 -1000px;min-width:34px;}
.md [href$="-choji2"], .flair-choji2{background-position:0 -1040px;min-width:34px;}
.md [href$="-choji3"], .flair-choji3{background-position:0 -1080px;min-width:34px;}
.md [href$="-chojuro"], .flair-chojuro{background-position:0 -1120px;}
.md [href$="-chojuro1"], .flair-chojuro1{background-position:0 -1160px;}
.md [href$="-choza"], .flair-choza{background-position:0 -1200px;min-width:34px;}
.md [href$="-danzo"], .flair-danzo{background-position:0 -1240px;}
.md [href$="-danzo1"], .flair-danzo1{background-position:0 -1280px;}
.md [href$="-darui"], .flair-darui{background-position:0 -1320px;}
.md [href$="-darui1"], .flair-darui1{background-position:0 -1360px;}
.md [href$="-deidara"], .flair-deidara{background-position:0 -1400px;}
.md [href$="-deidara1"], .flair-deidara1{background-position:0 -1440px;}
.md [href$="-deidara2"], .flair-deidara2{background-position:0 -1480px;}
.md [href$="-deidara3"], .flair-deidara3{background-position:0 -1520px;min-width:34px;}
.md [href$="-deidara4"], .flair-deidara4{background-position:0 -1560px;}
.md [href$="-deidara5"], .flair-deidara5{background-position:0 -1600px;}
.md [href$="-dosu"], .flair-dosu{background-position:0 -1640px;}
.md [href$="-ebisu"], .flair-ebisu{background-position:0 -1680px;min-width:36px;}
.md [href$="-fuu"], .flair-fuu{background-position:0 -1720px;min-width:36px;}
.md [href$="-fuu1"], .flair-fuu1{background-position:0 -1760px;}
.md [href$="-gaara"], .flair-gaara{background-position:0 -1800px;min-width:39px;}
.md [href$="-gaara1"], .flair-gaara1{background-position:0 -1840px;min-width:38px;}
.md [href$="-gaara2"], .flair-gaara2{background-position:0 -1880px;min-width:34px;}
.md [href$="-gaara3"], .flair-gaara3{background-position:0 -1920px;min-width:34px;}
.md [href$="-gaara4"], .flair-gaara4{background-position:0 -1960px;}
.md [href$="-gaara5"], .flair-gaara5{background-position:0 -2000px;}
.md [href$="-gaara6"], .flair-gaara6{background-position:0 -2040px;min-width:37px;}
.md [href$="-gaara7"], .flair-gaara7{background-position:0 -2080px;}
.md [href$="-gaara8"], .flair-gaara8{background-position:0 -2120px;min-width:34px;}
.md [href$="-gaara9"], .flair-gaara9{background-position:0 -2160px;}
.md [href$="-gaara10"], .flair-gaara10{background-position:0 -2200px;}
.md [href$="-gaara11"], .flair-gaara11{background-position:0 -2240px;min-width:34px;}
.md [href$="-gaara12"], .flair-gaara12{background-position:0 -2280px;}
.md [href$="-gaara13"], .flair-gaara13{background-position:0 -2320px;}
.md [href$="-gengetsu"], .flair-gengetsu{background-position:0 -2360px;}
.md [href$="-gengetsu1"], .flair-gengetsu1{background-position:0 -2400px;}
.md [href$="-gengo"], .flair-gengo{background-position:0 -2440px;}
.md [href$="-gengo1"], .flair-gengo1{background-position:0 -2480px;}
.md [href$="-genma"], .flair-genma{background-position:0 -2520px;min-width:36px;}
.md [href$="-gozu"], .flair-gozu{background-position:0 -2560px;}
.md [href$="-guy"], .flair-guy{background-position:0 -2600px;min-width:34px;}
.md [href$="-guy1"], .flair-guy1{background-position:0 -2640px;min-width:36px;}
.md [href$="-guy2"], .flair-guy2{background-position:0 -2680px;}
.md [href$="-guy3"], .flair-guy3{background-position:0 -2720px;}
.md [href$="-guy4"], .flair-guy4{background-position:0 -2760px;min-width:34px;}
.md [href$="-guy5"], .flair-guy5{background-position:0 -2800px;}
.md [href$="-guy6"], .flair-guy6{background-position:0 -2840px;}
.md [href$="-guy7"], .flair-guy7{background-position:0 -2880px;}
.md [href$="-haku"], .flair-haku{background-position:0 -2920px;}
.md [href$="-haku1"], .flair-haku1{background-position:0 -2960px;}
.md [href$="-haku2"], .flair-haku2{background-position:0 -3000px;}
.md [href$="-haku3"], .flair-haku3{background-position:0 -3040px;}
.md [href$="-haku4"], .flair-haku4{background-position:0 -3080px;min-width:36px;}
.md [href$="-haku-pvp"], .flair-haku-pvp{background-position:0 -3120px;}
.md [href$="-hanabi"], .flair-hanabi{background-position:0 -3160px;}
.md [href$="-hanzo"], .flair-hanzo{background-position:0 -3200px;min-width:36px;}
.md [href$="-hanzo1"], .flair-hanzo1{background-position:0 -3240px;}
.md [href$="-hanzo2"], .flair-hanzo2{background-position:0 -3280px;}
.md [href$="-hanzo3"], .flair-hanzo3{background-position:0 -3320px;min-width:36px;}
.md [href$="-hashirama"], .flair-hashirama{background-position:0 -3360px;}
.md [href$="-hashirama1"], .flair-hashirama1{background-position:0 -3400px;min-width:36px;}
.md [href$="-hashirama2"], .flair-hashirama2{background-position:0 -3440px;min-width:36px;}
.md [href$="-hashirama3"], .flair-hashirama3{background-position:0 -3480px;}
.md [href$="-hayate"], .flair-hayate{background-position:0 -3520px;min-width:36px;}
.md [href$="-hayate1"], .flair-hayate1{background-position:0 -3560px;}
.md [href$="-hiashi"], .flair-hiashi{background-position:0 -3600px;min-width:30px;}
.md [href$="-hidan"], .flair-hidan{background-position:0 -3640px;}
.md [href$="-hidan1"], .flair-hidan1{background-position:0 -3680px;}
.md [href$="-hinata"], .flair-hinata{background-position:0 -3720px;min-width:36px;}
.md [href$="-hinata1"], .flair-hinata1{background-position:0 -3760px;min-width:37px;}
.md [href$="-hinata2"], .flair-hinata2{background-position:0 -3800px;min-width:38px;}
.md [href$="-hinata3"], .flair-hinata3{background-position:0 -3840px;min-width:36px;}
.md [href$="-hinata4"], .flair-hinata4{background-position:0 -3880px;}
.md [href$="-hinata5"], .flair-hinata5{background-position:0 -3920px;min-width:36px;}
.md [href$="-hinata6"], .flair-hinata6{background-position:0 -3960px;}
.md [href$="-hinata7"], .flair-hinata7{background-position:0 -4000px;}
.md [href$="-hinata8"], .flair-hinata8{background-position:0 -4040px;}
.md [href$="-hinata9"], .flair-hinata9{background-position:0 -4080px;}
.md [href$="-hinata-pvp"], .flair-hinata-pvp{background-position:0 -4120px;}
.md [href$="-hiruzen"], .flair-hiruzen{background-position:0 -4160px;}
.md [href$="-hiruzen1"], .flair-hiruzen1{background-position:0 -4200px;min-width:36px;}
.md [href$="-hiruzen2"], .flair-hiruzen2{background-position:0 -4240px;min-width:38px;}
.md [href$="-hizashi"], .flair-hizashi{background-position:0 -4280px;min-width:30px;}
.md [href$="-ibiki"], .flair-ibiki{background-position:0 -4320px;min-width:36px;}
.md [href$="-ino"], .flair-ino{background-position:0 -4360px;}
.md [href$="-ino1"], .flair-ino1{background-position:0 -4400px;min-width:34px;}
.md [href$="-ino2"], .flair-ino2{background-position:0 -4440px;}
.md [href$="-ino3"], .flair-ino3{background-position:0 -4480px;}
.md [href$="-ino4"], .flair-ino4{background-position:0 -4520px;}
.md [href$="-inoichi"], .flair-inoichi{background-position:0 -4560px;}
.md [href$="-iruka"], .flair-iruka{background-position:0 -4600px;}
.md [href$="-iruka1"], .flair-iruka1{background-position:0 -4640px;}
.md [href$="-itachi"], .flair-itachi{background-position:0 -4680px;}
.md [href$="-itachi1"], .flair-itachi1{background-position:0 -4720px;min-width:34px;}
.md [href$="-itachi2"], .flair-itachi2{background-position:0 -4760px;min-width:34px;}
.md [href$="-itachi3"], .flair-itachi3{background-position:0 -4800px;}
.md [href$="-itachi4"], .flair-itachi4{background-position:0 -4840px;}
.md [href$="-itachi5"], .flair-itachi5{background-position:0 -4880px;}
.md [href$="-itachi6"], .flair-itachi6{background-position:0 -4920px;}
.md [href$="-itachi7"], .flair-itachi7{background-position:0 -4960px;}
.md [href$="-itachi8"], .flair-itachi8{background-position:0 -5000px;}
.md [href$="-itachi9"], .flair-itachi9{background-position:0 -5040px;}
.md [href$="-itachi10"], .flair-itachi10{background-position:0 -5080px;}
.md [href$="-izumo"], .flair-izumo{background-position:0 -5120px;min-width:36px;}
.md [href$="-jiraiya"], .flair-jiraiya{background-position:0 -5160px;min-width:37px;}
.md [href$="-jiraiya1"], .flair-jiraiya1{background-position:0 -5200px;min-width:34px;}
.md [href$="-jiraiya2"], .flair-jiraiya2{background-position:0 -5240px;}
.md [href$="-jiraiya3"], .flair-jiraiya3{background-position:0 -5280px;}
.md [href$="-jiraiya4"], .flair-jiraiya4{background-position:0 -5320px;}
.md [href$="-jiraiya5"], .flair-jiraiya5{background-position:0 -5360px;min-width:33px;}
.md [href$="-jiraiya6"], .flair-jiraiya6{background-position:0 -5400px;min-width:34px;}
.md [href$="-jirobo"], .flair-jirobo{background-position:0 -5440px;}
.md [href$="-jirobo1"], .flair-jirobo1{background-position:0 -5480px;min-width:36px;}
.md [href$="-jirobo2"], .flair-jirobo2{background-position:0 -5520px;}
.md [href$="-jirobo3"], .flair-jirobo3{background-position:0 -5560px;min-width:34px;}
.md [href$="-jugo"], .flair-jugo{background-position:0 -5600px;}
.md [href$="-jugo1"], .flair-jugo1{background-position:0 -5640px;}
.md [href$="-kabuto"], .flair-kabuto{background-position:0 -5680px;}
.md [href$="-kabuto1"], .flair-kabuto1{background-position:0 -5720px;}
.md [href$="-kabuto2"], .flair-kabuto2{background-position:0 -5760px;}
.md [href$="-kabuto3"], .flair-kabuto3{background-position:0 -5800px;}
.md [href$="-kakashi"], .flair-kakashi{background-position:0 -5840px;min-width:34px;}
.md [href$="-kakashi1"], .flair-kakashi1{background-position:0 -5880px;}
.md [href$="-kakashi2"], .flair-kakashi2{background-position:0 -5920px;}
.md [href$="-kakashi3"], .flair-kakashi3{background-position:0 -5960px;}
.md [href$="-kakashi4"], .flair-kakashi4{background-position:0 -6000px;}
.md [href$="-kakashi5"], .flair-kakashi5{background-position:0 -6040px;}
.md [href$="-kakashi6"], .flair-kakashi6{background-position:0 -6080px;}
.md [href$="-kakashi7"], .flair-kakashi7{background-position:0 -6120px;}
.md [href$="-kakashi8"], .flair-kakashi8{background-position:0 -6160px;}
.md [href$="-kakashi9"], .flair-kakashi9{background-position:0 -6200px;}
.md [href$="-kakashi10"], .flair-kakashi10{background-position:0 -6240px;}
.md [href$="-kakkou"], .flair-kakkou{background-position:0 -6280px;}
.md [href$="-kakuzu"], .flair-kakuzu{background-position:0 -6320px;}
.md [href$="-kakuzu1"], .flair-kakuzu1{background-position:0 -6360px;}
.md [href$="-kankuro"], .flair-kankuro{background-position:0 -6400px;}
.md [href$="-kankuro1"], .flair-kankuro1{background-position:0 -6440px;}
.md [href$="-kankuro2"], .flair-kankuro2{background-position:0 -6480px;}
.md [href$="-kankuro3"], .flair-kankuro3{background-position:0 -6520px;}
.md [href$="-karin"], .flair-karin{background-position:0 -6560px;min-width:36px;}
.md [href$="-karin1"], .flair-karin1{background-position:0 -6600px;min-width:40px;}
.md [href$="-karin2"], .flair-karin2{background-position:0 -6640px;}
.md [href$="-kiba"], .flair-kiba{background-position:0 -6680px;}
.md [href$="-kiba1"], .flair-kiba1{background-position:0 -6720px;min-width:36px;}
.md [href$="-kiba2"], .flair-kiba2{background-position:0 -6760px;}
.md [href$="-kidomaru"], .flair-kidomaru{background-position:0 -6800px;}
.md [href$="-kidomaru1"], .flair-kidomaru1{background-position:0 -6840px;min-width:36px;}
.md [href$="-kidomaru2"], .flair-kidomaru2{background-position:0 -6880px;}
.md [href$="-kidomaru3"], .flair-kidomaru3{background-position:0 -6920px;}
.md [href$="-kimimaro"], .flair-kimimaro{background-position:0 -6960px;min-width:36px;}
.md [href$="-kimimaro1"], .flair-kimimaro1{background-position:0 -7000px;min-width:32px;}
.md [href$="-kimimaro2"], .flair-kimimaro2{background-position:0 -7040px;}
.md [href$="-kin"], .flair-kin{background-position:0 -7080px;min-width:36px;}
.md [href$="-kisame"], .flair-kisame{background-position:0 -7120px;}
.md [href$="-kisame1"], .flair-kisame1{background-position:0 -7160px;}
.md [href$="-kisame2"], .flair-kisame2{background-position:0 -7200px;}
.md [href$="-kisame3"], .flair-kisame3{background-position:0 -7240px;}
.md [href$="-konan"], .flair-konan{background-position:0 -7280px;}
.md [href$="-konan1"], .flair-konan1{background-position:0 -7320px;}
.md [href$="-konan2"], .flair-konan2{background-position:0 -7360px;}
.md [href$="-konan3"], .flair-konan3{background-position:0 -7400px;}
.md [href$="-konohamaru"], .flair-konohamaru{background-position:0 -7440px;}
.md [href$="-konohamaru1"], .flair-konohamaru1{background-position:0 -7480px;}
.md [href$="-konohamaru2"], .flair-konohamaru2{background-position:0 -7520px;}
.md [href$="-kotetsu"], .flair-kotetsu{background-position:0 -7560px;}
.md [href$="-kurenai"], .flair-kurenai{background-position:0 -7600px;min-width:38px;}
.md [href$="-kushina"], .flair-kushina{background-position:0 -7640px;}
.md [href$="-kushina1"], .flair-kushina1{background-position:0 -7680px;}
.md [href$="-kushina2"], .flair-kushina2{background-position:0 -7720px;}
.md [href$="-leaf-anbu-female"], .flair-leaf-anbu-female{background-position:0 -7760px;min-width:36px;}
.md [href$="-leaf-anbu-male"], .flair-leaf-anbu-male{background-position:0 -7800px;min-width:34px;}
.md [href$="-leaf-chunin-male"], .flair-leaf-chunin-male{background-position:0 -7840px;min-width:33px;}
.md [href$="-lee"], .flair-lee{background-position:0 -7880px;min-width:34px;}
.md [href$="-lee1"], .flair-lee1{background-position:0 -7920px;min-width:36px;}
.md [href$="-lee2"], .flair-lee2{background-position:0 -7960px;}
.md [href$="-lee3"], .flair-lee3{background-position:0 -8000px;}
.md [href$="-lee4"], .flair-lee4{background-position:0 -8040px;}
.md [href$="-lee5"], .flair-lee5{background-position:0 -8080px;}
.md [href$="-lee6"], .flair-lee6{background-position:0 -8120px;}
.md [href$="-lee7"], .flair-lee7{background-position:0 -8160px;min-width:31px;}
.md [href$="-madara"], .flair-madara{background-position:0 -8200px;}
.md [href$="-madara1"], .flair-madara1{background-position:0 -8240px;}
.md [href$="-madara2"], .flair-madara2{background-position:0 -8280px;}
.md [href$="-madara3"], .flair-madara3{background-position:0 -8320px;}
.md [href$="-mahiru"], .flair-mahiru{background-position:0 -8360px;}
.md [href$="-mei"], .flair-mei{background-position:0 -8400px;}
.md [href$="-mei1"], .flair-mei1{background-position:0 -8440px;min-width:37px;}
.md [href$="-meizu"], .flair-meizu{background-position:0 -8480px;}
.md [href$="-mifune"], .flair-mifune{background-position:0 -8520px;}
.md [href$="-minato"], .flair-minato{background-position:0 -8560px;min-width:34px;}
.md [href$="-minato1"], .flair-minato1{background-position:0 -8600px;}
.md [href$="-minato2"], .flair-minato2{background-position:0 -8640px;}
.md [href$="-minato3"], .flair-minato3{background-position:0 -8680px;min-width:34px;}
.md [href$="-minato4"], .flair-minato4{background-position:0 -8720px;}
.md [href$="-minato5"], .flair-minato5{background-position:0 -8760px;}
.md [href$="-mist-anbu-male"], .flair-mist-anbu-male{background-position:0 -8800px;}
.md [href$="-mist-chunin-male"], .flair-mist-chunin-male{background-position:0 -8840px;min-width:36px;}
.md [href$="-misumi"], .flair-misumi{background-position:0 -8880px;min-width:36px;}
.md [href$="-mizuki"], .flair-mizuki{background-position:0 -8920px;min-width:34px;}
.md [href$="-mu"], .flair-mu{background-position:0 -8960px;}
.md [href$="-nagato"], .flair-nagato{background-position:0 -9000px;min-width:36px;}
.md [href$="-nagato1"], .flair-nagato1{background-position:0 -9040px;min-width:36px;}
.md [href$="-naruto"], .flair-naruto{background-position:0 -9080px;}
.md [href$="-naruto1"], .flair-naruto1{background-position:0 -9120px;}
.md [href$="-naruto2"], .flair-naruto2{background-position:0 -9160px;min-width:34px;}
.md [href$="-naruto3"], .flair-naruto3{background-position:0 -9200px;min-width:36px;}
.md [href$="-naruto4"], .flair-naruto4{background-position:0 -9240px;}
.md [href$="-naruto5"], .flair-naruto5{background-position:0 -9280px;}
.md [href$="-naruto6"], .flair-naruto6{background-position:0 -9320px;}
.md [href$="-naruto7"], .flair-naruto7{background-position:0 -9360px;}
.md [href$="-naruto8"], .flair-naruto8{background-position:0 -9400px;}
.md [href$="-naruto9"], .flair-naruto9{background-position:0 -9440px;}
.md [href$="-naruto10"], .flair-naruto10{background-position:0 -9480px;}
.md [href$="-naruto11"], .flair-naruto11{background-position:0 -9520px;min-width:34px;}
.md [href$="-naruto12"], .flair-naruto12{background-position:0 -9560px;}
.md [href$="-naruto13"], .flair-naruto13{background-position:0 -9600px;min-width:36px;}
.md [href$="-naruto14"], .flair-naruto14{background-position:0 -9640px;}
.md [href$="-naruto15"], .flair-naruto15{background-position:0 -9680px;min-width:34px;}
.md [href$="-naruto16"], .flair-naruto16{background-position:0 -9720px;}
.md [href$="-naruto17"], .flair-naruto17{background-position:0 -9760px;}
.md [href$="-naruto18"], .flair-naruto18{background-position:0 -9800px;}
.md [href$="-naruto19"], .flair-naruto19{background-position:0 -9840px;}
.md [href$="-naruto20"], .flair-naruto20{background-position:0 -9880px;}
.md [href$="-naruto21"], .flair-naruto21{background-position:0 -9920px;}
.md [href$="-naruto22"], .flair-naruto22{background-position:0 -9960px;}
.md [href$="-naruto23"], .flair-naruto23{background-position:0 -10000px;}
.md [href$="-naruto24"], .flair-naruto24{background-position:0 -10040px;}
.md [href$="-naruto25"], .flair-naruto25{background-position:0 -10080px;}
.md [href$="-naruto26"], .flair-naruto26{background-position:0 -10120px;}
.md [href$="-naruto27"], .flair-naruto27{background-position:0 -10160px;}
.md [href$="-naruto28"], .flair-naruto28{background-position:0 -10200px;}
.md [href$="-naruto29"], .flair-naruto29{background-position:0 -10240px;}
.md [href$="-naruto-fem"], .flair-naruto-fem{background-position:0 -10280px;}
.md [href$="-neji"], .flair-neji{background-position:0 -10320px;min-width:36px;}
.md [href$="-neji1"], .flair-neji1{background-position:0 -10360px;}
.md [href$="-neji2"], .flair-neji2{background-position:0 -10400px;}
.md [href$="-neji3"], .flair-neji3{background-position:0 -10440px;}
.md [href$="-neji4"], .flair-neji4{background-position:0 -10480px;min-width:36px;}
.md [href$="-neji5"], .flair-neji5{background-position:0 -10520px;}
.md [href$="-neji6"], .flair-neji6{background-position:0 -10560px;}
.md [href$="-obito"], .flair-obito{background-position:0 -10600px;min-width:34px;}
.md [href$="-obito1"], .flair-obito1{background-position:0 -10640px;}
.md [href$="-obito2"], .flair-obito2{background-position:0 -10680px;}
.md [href$="-obito3"], .flair-obito3{background-position:0 -10720px;min-width:34px;}
.md [href$="-obito4"], .flair-obito4{background-position:0 -10760px;min-width:34px;}
.md [href$="-obito5"], .flair-obito5{background-position:0 -10800px;min-width:34px;}
.md [href$="-obito6"], .flair-obito6{background-position:0 -10840px;}
.md [href$="-obito7"], .flair-obito7{background-position:0 -10880px;}
.md [href$="-obito8"], .flair-obito8{background-position:0 -10920px;}
.md [href$="-ohnoki"], .flair-ohnoki{background-position:0 -10960px;}
.md [href$="-ohnoki1"], .flair-ohnoki1{background-position:0 -11000px;}
.md [href$="-orochimaru"], .flair-orochimaru{background-position:0 -11040px;min-width:37px;}
.md [href$="-orochimaru1"], .flair-orochimaru1{background-position:0 -11080px;}
.md [href$="-orochimaru2"], .flair-orochimaru2{background-position:0 -11120px;}
.md [href$="-orochimaru3"], .flair-orochimaru3{background-position:0 -11160px;min-width:37px;}
.md [href$="-orochimaru4"], .flair-orochimaru4{background-position:0 -11200px;}
.md [href$="-orochimaru5"], .flair-orochimaru5{background-position:0 -11240px;}
.md [href$="-pain"], .flair-pain{background-position:0 -11280px;}
.md [href$="-pain1"], .flair-pain1{background-position:0 -11320px;}
.md [href$="-pain2"], .flair-pain2{background-position:0 -11360px;}
.md [href$="-pain3"], .flair-pain3{background-position:0 -11400px;}
.md [href$="-raido"], .flair-raido{background-position:0 -11440px;}
.md [href$="-rasa"], .flair-rasa{background-position:0 -11480px;min-width:30px;}
.md [href$="-rasa1"], .flair-rasa1{background-position:0 -11520px;}
.md [href$="-rin"], .flair-rin{background-position:0 -11560px;}
.md [href$="-rin1"], .flair-rin1{background-position:0 -11600px;min-width:37px;}
.md [href$="-rin2"], .flair-rin2{background-position:0 -11640px;min-width:36px;}
.md [href$="-rou"], .flair-rou{background-position:0 -11680px;min-width:32px;}
.md [href$="-rou1"], .flair-rou1{background-position:0 -11720px;min-width:32px;}
.md [href$="-sai"], .flair-sai{background-position:0 -11760px;}
.md [href$="-sai1"], .flair-sai1{background-position:0 -11800px;min-width:34px;}
.md [href$="-sai2"], .flair-sai2{background-position:0 -11840px;min-width:34px;}
.md [href$="-sai3"], .flair-sai3{background-position:0 -11880px;}
.md [href$="-sakon"], .flair-sakon{background-position:0 -11920px;min-width:36px;}
.md [href$="-sakon1"], .flair-sakon1{background-position:0 -11960px;min-width:36px;}
.md [href$="-sakon2"], .flair-sakon2{background-position:0 -12000px;}
.md [href$="-sakon3"], .flair-sakon3{background-position:0 -12040px;}
.md [href$="-sakura"], .flair-sakura{background-position:0 -12080px;min-width:38px;}
.md [href$="-sakura1"], .flair-sakura1{background-position:0 -12120px;min-width:36px;}
.md [href$="-sakura2"], .flair-sakura2{background-position:0 -12160px;min-width:38px;}
.md [href$="-sakura3"], .flair-sakura3{background-position:0 -12200px;}
.md [href$="-sakura4"], .flair-sakura4{background-position:0 -12240px;min-width:37px;}
.md [href$="-sakura5"], .flair-sakura5{background-position:0 -12280px;}
.md [href$="-sakura6"], .flair-sakura6{background-position:0 -12320px;}
.md [href$="-sakura7"], .flair-sakura7{background-position:0 -12360px;min-width:36px;}
.md [href$="-sakura8"], .flair-sakura8{background-position:0 -12400px;min-width:37px;}
.md [href$="-sakura9"], .flair-sakura9{background-position:0 -12440px;min-width:36px;}
.md [href$="-sakura10"], .flair-sakura10{background-position:0 -12480px;}
.md [href$="-sakura11"], .flair-sakura11{background-position:0 -12520px;min-width:36px;}
.md [href$="-sakura12"], .flair-sakura12{background-position:0 -12560px;min-width:36px;}
.md [href$="-sakura-pvp"], .flair-sakura-pvp{background-position:0 -12600px;}
.md [href$="-sand-chunin-male"], .flair-sand-chunin-male{background-position:0 -12640px;}
.md [href$="-sasori"], .flair-sasori{background-position:0 -12680px;}
.md [href$="-sasori1"], .flair-sasori1{background-position:0 -12720px;}
.md [href$="-sasori2"], .flair-sasori2{background-position:0 -12760px;min-width:36px;}
.md [href$="-sasuke"], .flair-sasuke{background-position:0 -12800px;}
.md [href$="-sasuke1"], .flair-sasuke1{background-position:0 -12840px;min-width:34px;}
.md [href$="-sasuke2"], .flair-sasuke2{background-position:0 -12880px;min-width:34px;}
.md [href$="-sasuke3"], .flair-sasuke3{background-position:0 -12920px;}
.md [href$="-sasuke4"], .flair-sasuke4{background-position:0 -12960px;}
.md [href$="-sasuke5"], .flair-sasuke5{background-position:0 -13000px;}
.md [href$="-sasuke6"], .flair-sasuke6{background-position:0 -13040px;}
.md [href$="-sasuke7"], .flair-sasuke7{background-position:0 -13080px;}
.md [href$="-sasuke8"], .flair-sasuke8{background-position:0 -13120px;}
.md [href$="-sasuke9"], .flair-sasuke9{background-position:0 -13160px;}
.md [href$="-sasuke10"], .flair-sasuke10{background-position:0 -13200px;}
.md [href$="-sasuke11"], .flair-sasuke11{background-position:0 -13240px;min-width:36px;}
.md [href$="-sasuke12"], .flair-sasuke12{background-position:0 -13280px;}
.md [href$="-sasuke13"], .flair-sasuke13{background-position:0 -13320px;}
.md [href$="-sasuke14"], .flair-sasuke14{background-position:0 -13360px;min-width:34px;}
.md [href$="-sasuke15"], .flair-sasuke15{background-position:0 -13400px;}
.md [href$="-sasuke16"], .flair-sasuke16{background-position:0 -13440px;}
.md [href$="-sasuke17"], .flair-sasuke17{background-position:0 -13480px;min-width:36px;}
.md [href$="-sasuke18"], .flair-sasuke18{background-position:0 -13520px;}
.md [href$="-sasuke19"], .flair-sasuke19{background-position:0 -13560px;}
.md [href$="-sasuke20"], .flair-sasuke20{background-position:0 -13600px;min-width:34px;}
.md [href$="-sasuke21"], .flair-sasuke21{background-position:0 -13640px;}
.md [href$="-sasuke22"], .flair-sasuke22{background-position:0 -13680px;min-width:34px;}
.md [href$="-sasuke23"], .flair-sasuke23{background-position:0 -13720px;}
.md [href$="-sasuke24"], .flair-sasuke24{background-position:0 -13760px;}
.md [href$="-sasuke25"], .flair-sasuke25{background-position:0 -13800px;}
.md [href$="-sasuke26"], .flair-sasuke26{background-position:0 -13840px;}
.md [href$="-sasuke27"], .flair-sasuke27{background-position:0 -13880px;min-width:31px;}
.md [href$="-sasuke28"], .flair-sasuke28{background-position:0 -13920px;min-width:41px;}
.md [href$="-sasuke29"], .flair-sasuke29{background-position:0 -13960px;}
.md [href$="-shibi"], .flair-shibi{background-position:0 -14000px;}
.md [href$="-shikaku"], .flair-shikaku{background-position:0 -14040px;}
.md [href$="-shikamaru"], .flair-shikamaru{background-position:0 -14080px;min-width:31px;}
.md [href$="-shikamaru1"], .flair-shikamaru1{background-position:0 -14120px;min-width:34px;}
.md [href$="-shikamaru2"], .flair-shikamaru2{background-position:0 -14160px;min-width:34px;}
.md [href$="-shikamaru3"], .flair-shikamaru3{background-position:0 -14200px;min-width:33px;}
.md [href$="-shikamaru4"], .flair-shikamaru4{background-position:0 -14240px;min-width:38px;}
.md [href$="-shino"], .flair-shino{background-position:0 -14280px;min-width:33px;}
.md [href$="-shino1"], .flair-shino1{background-position:0 -14320px;}
.md [href$="-shisui"], .flair-shisui{background-position:0 -14360px;min-width:33px;}
.md [href$="-shisui1"], .flair-shisui1{background-position:0 -14400px;}
.md [href$="-shisui2"], .flair-shisui2{background-position:0 -14440px;}
.md [href$="-shizune"], .flair-shizune{background-position:0 -14480px;min-width:36px;}
.md [href$="-soku"], .flair-soku{background-position:0 -14520px;min-width:34px;}
.md [href$="-soku1"], .flair-soku1{background-position:0 -14560px;}
.md [href$="-sound-ninja"], .flair-sound-ninja{background-position:0 -14600px;}
.md [href$="-suigetsu"], .flair-suigetsu{background-position:0 -14640px;min-width:36px;}
.md [href$="-suigetsu1"], .flair-suigetsu1{background-position:0 -14680px;}
.md [href$="-taiseki"], .flair-taiseki{background-position:0 -14720px;min-width:36px;}
.md [href$="-tayuya"], .flair-tayuya{background-position:0 -14760px;}
.md [href$="-tayuya1"], .flair-tayuya1{background-position:0 -14800px;min-width:36px;}
.md [href$="-tayuya2"], .flair-tayuya2{background-position:0 -14840px;}
.md [href$="-tayuya3"], .flair-tayuya3{background-position:0 -14880px;}
.md [href$="-temari"], .flair-temari{background-position:0 -14920px;}
.md [href$="-temari1"], .flair-temari1{background-position:0 -14960px;}
.md [href$="-temari2"], .flair-temari2{background-position:0 -15000px;min-width:34px;}
.md [href$="-temari3"], .flair-temari3{background-position:0 -15040px;min-width:38px;}
.md [href$="-tenten"], .flair-tenten{background-position:0 -15080px;}
.md [href$="-tenten1"], .flair-tenten1{background-position:0 -15120px;}
.md [href$="-tenten2"], .flair-tenten2{background-position:0 -15160px;min-width:37px;}
.md [href$="-thief"], .flair-thief{background-position:0 -15200px;min-width:34px;}
.md [href$="-thief-lackey"], .flair-thief-lackey{background-position:0 -15240px;min-width:34px;}
.md [href$="-thief-leader"], .flair-thief-leader{background-position:0 -15280px;}
.md [href$="-tobi"], .flair-tobi{background-position:0 -15320px;min-width:36px;}
.md [href$="-tobi1"], .flair-tobi1{background-position:0 -15360px;}
.md [href$="-tobirama"], .flair-tobirama{background-position:0 -15400px;min-width:36px;}
.md [href$="-tobirama1"], .flair-tobirama1{background-position:0 -15440px;min-width:36px;}
.md [href$="-tobirama2"], .flair-tobirama2{background-position:0 -15480px;}
.md [href$="-tobirama3"], .flair-tobirama3{background-position:0 -15520px;min-width:34px;}
.md [href$="-trinity-kagari"], .flair-trinity-kagari{background-position:0 -15560px;}
.md [href$="-trinity-mubi"], .flair-trinity-mubi{background-position:0 -15600px;min-width:36px;}
.md [href$="-trinity-oboro"], .flair-trinity-oboro{background-position:0 -15640px;}
.md [href$="-tsume"], .flair-tsume{background-position:0 -15680px;min-width:38px;}
.md [href$="-tsunade"], .flair-tsunade{background-position:0 -15720px;min-width:40px;}
.md [href$="-tsunade1"], .flair-tsunade1{background-position:0 -15760px;}
.md [href$="-tsunade2"], .flair-tsunade2{background-position:0 -15800px;}
.md [href$="-tsunade3"], .flair-tsunade3{background-position:0 -15840px;}
.md [href$="-tsunade4"], .flair-tsunade4{background-position:0 -15880px;}
.md [href$="-tsunade5"], .flair-tsunade5{background-position:0 -15920px;}
.md [href$="-tsunade6"], .flair-tsunade6{background-position:0 -15960px;}
.md [href$="-utakata"], .flair-utakata{background-position:0 -16000px;min-width:33px;}
.md [href$="-utakata1"], .flair-utakata1{background-position:0 -16040px;}
.md [href$="-waraji"], .flair-waraji{background-position:0 -16080px;min-width:32px;}
.md [href$="-yagura"], .flair-yagura{background-position:0 -16120px;}
.md [href$="-yagura1"], .flair-yagura1{background-position:0 -16160px;}
.md [href$="-yahiko"], .flair-yahiko{background-position:0 -16200px;}
.md [href$="-yamato"], .flair-yamato{background-position:0 -16240px;}
.md [href$="-yamato1"], .flair-yamato1{background-position:0 -16280px;}
.md [href$="-yamato2"], .flair-yamato2{background-position:0 -16320px;}
.md [href$="-yashamaru"], .flair-yashamaru{background-position:0 -16360px;}
.md [href$="-yoroi"], .flair-yoroi{background-position:0 -16400px;}
.md [href$="-yugito"], .flair-yugito{background-position:0 -16440px;}
.md [href$="-yugito1"], .flair-yugito1{background-position:0 -16480px;}
.md [href$="-zabuza"], .flair-zabuza{background-position:0 -16520px;}
.md [href$="-zabuza1"], .flair-zabuza1{background-position:0 -16560px;}
.md [href$="-zabuza2"], .flair-zabuza2{background-position:0 -16600px;}
.md [href$="-zabuza3"], .flair-zabuza3{background-position:0 -16640px;}
.md [href$="-zabuza4"], .flair-zabuza4{background-position:0 -16680px;}
.md [href$="-zaku"], .flair-zaku{background-position:0 -16720px;min-width:32px;}
.md [href$="-zetsu"], .flair-zetsu{background-position:0 -16760px;}
.md [href$="-zetsu1"], .flair-zetsu1{background-position:0 -16800px;min-width:34px;}
.md [href$="-zori"], .flair-zori{background-position:0 -16840px;min-width:33px;}
